body {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	font-size: 18px;
	line-height: 1.4;
}

.container {
	width: 960px;
	margin: auto;
}

/*Top Banner Section*/

.Banner {
	background-image: url("../images/glasses-bg.png");
	background-repeat: no-repeat
	background-position: center;
	background-size: cover;
	height: 30rem;
}

.ribbon {
	background-color: cadetblue;
	color: white;
	position: relative;
	top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.ribbon_content {
	display: flex;
	align-items: center;
}

.ribbon_content img {
	height: 1.5rem;
	padding-left: 2rem;
	padding-right: 1rem;
}

nav span {
	padding-right: 2rem;
}

.sml_ribbon {
	padding: 1.5rem 5rem;
	background-color: white;
	margin-top: 11rem;
	display: inline-block;
	float: right;
	position: relative;
	right: -2rem;
}

.sml_ribbon p {
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
}

/*Cute little pictures section*/

.icons {
	display: flex;
	justify-content: center;
	padding: 3rem 0;
}

.cute_box {
	height: 8rem;
	width: 5rem;
	margin: 0 3rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.cute_box img {
	width: 5rem;
}

.cute_box #sml_icon {
	width: 3.5rem;
}